{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}AMS|Memberships{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<section class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="fw-bold">Your Association Memberships Display</h1>
        <p class="lead">Get available servises form associations</p>
    </div>
</section>

<div class="container text-center mt-3 mb-5">

    <div class="container mt-4">
        <div class="row g-4" style="justify-content: center; align-items: center;">
            
            {% for association in associations  %}
                
                <div class="col-md-3" style="background-color: lightgreen; padding: 20px; text-align: center; border-radius: 10px;">
                    <a href="{% url 'services' association.id %}" class="text-decoration-none">
                        <small class="text-success-emphasis">view services</small>
                        <img src="{{ association.profilePic.url }}" style="width: 100px;" />
                        <br><br>
                        {{ association.AssociationName|upper }}
                    </a>
                </div>
                &nbsp; &nbsp; &nbsp; 
                
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}